.coverhome {
  background-image: url('http://res.cloudinary.com/hisfbkv99/image/upload/v1502968938/events_e9wgnv.jpg');
  background-size: cover;
  height: 635px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 43%;
  margin-top:0;
  text-align:center;
  position: relative;
  bottom: 55px;

    h1 {
    margin:0;
    padding-top: 130px;
    padding-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:600;
    font-size: 45px;
    color: #fff;
    text-shadow: 1px 1px #C8C7C7;
  }

 .subtitle {
    margin:0;
    padding-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:500;
    font-size: 18px;
    color: #fff;
    // text-shadow: 2px 2px #C8C7C7;


// .search-form {
//     background-color: rgba(88,226,194,0.6);
//     padding: 20px;
//     border-radius: 4px;
//     margin-top:50px;

    .form-control-home {
      padding: 20px;
      width: 450px;
    }

  }
}


 .btn-success {
      padding: 9px 20px;
      text-transform: uppercase;
      font-weight: 600;
    }

.home-link a, p{
  color: #82888a;
  text-decoration: none;
}

.home-link:hover a, .home-link:focus a {
  color: #82888a;
  text-decoration: none;
}

.frame_box {
  box-shadow: 2px 2px 5px #CCCCCC;
  border: transparent;
}

#wrapper {
  width:960px;
  margin:0 auto;
}

#sidebar {
  float:right;
  width:340px;
}

#sidebar #widget {
  width:340px;
  height: 600px;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;
}

#article {
  width:560px;
}
