h1 {
  font-size: 32px;
}

.home-link a, p{
  color: #82888a;
  text-decoration: none;
}

.home-link:hover a, .home-link:focus a {
  color: #82888a;
  text-decoration: none;
}

.frame_box {
  box-shadow: 2px 2px 5px #CCCCCC;
  border: transparent;
}

#wrapper {
  width:960px;
  margin:0 auto;
}

#sidebar {
  float:right;
  width:340px;
}

#sidebar #widget {
  width:340px;
  height: 600px;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;
}

#article {
  width:560px;
}
