.navbar-brand img {
    width: 130px;
    position: relative;
    top: -13px;
}

.search { position: relative; }

.search input { text-indent: 30px;}

.search .fa-search {
  position: absolute;
  top: 12px;
  left: 7px;
  font-size: 15px;
  opacity: 0.5;
}

.fa-envelope-o:before {
  content: "";
  font-size: 16px;
}

.fa-star:before {
  content: "";
  font-size: 16px;
}

.avatar-small {
    width: 23px;
    position: relative;
    top: -2px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
    margin-right: 30px;
    margin-left: 10px;
}
// .alert {
//   margin: 0;
//   text-align: center;
//   color: white;
// }
// .alert-info {
//   background: #000;
// }
// .alert-warning {
//   background: red;
// }
