// Variables graphiques
@import "config/variables";
@import "config/bootstrap_variables";

// librairies externes
@import "bootstrap-sprockets";
@import "bootstrap";
@import "vendor/index";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

// CSS
@import "pages/index";
@import "layout/index";
@import "components/index";


.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

// .alert {
//   margin: 0;
//   text-align: center;
//   color: white;
// }
// .alert-info {
//   background: #000;
// }
// .alert-warning {
//   background: red;
// }

